assembler-view,
#assembler-view {
  display: block;
  padding: 1em;
}

@font-face {
  font-family: Monaco;
  src: url(./fonts/UbuntuMono-R-modified.ttf);
}

.source-style {
    color: #80ff80;
    background-color: #006000;
}
